<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jorge Esparteiro Garcia",
  "givenName": "Jorge Esparteiro",
  "familyName": "Garcia",
  "jobTitle": "Lecturer and Researcher",
  "worksFor": {
    "@type": "Organization",
    "name": "Instituto Politécnico de Viana do Castelo",
    "url": "https://www.ipvc.pt"
  },
  "alumniOf": {
    "@type": "Organization",
    "name": "Universidade do Porto",
    "url": "https://www.up.pt"
  },
  "image": "https://upload.wikimedia.org/wikipedia/commons/e/e8/Jorge_Esparteiro_Garcia.jpg",
  "url": "https://jorgeesparteirogarcia.github.io",
  "sameAs": [
  "https://www.linkedin.com/in/jorgeesparteirogarcia/",
  "https://scholar.google.com/citations?user=5N1uTs0AAAAJ",
  "https://orcid.org/0000-0001-5710-5557",
  "https://github.com/jorgeesparteirogarcia",
  "https://www.wikidata.org/wiki/Q139104407"
]
}
</script>
